.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .auth-container {
        background-color: #ffffff;
        width: 320px;
        padding: 32px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);

        h2 {
            margin-top: 0;
        }

        .form-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 16px;

            a {
                font-size: 13px;
            }
        }
    }
}
