$color1: #962D3E;
$color2: #343642;
$color3: #979C9C;
$color4: #F2EBC7;
$color5: #348899;

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: $color4;
}
