.internal-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 32px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 64px;
        background-color: #F2EBC7;

        h1 {
            font-size: 24px;
            margin: 0;
            color: #348899;
        }

        a {
            color: #962D3E;
        }
    }

    .content-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;

        .content {
            padding: 64px 32px 96px;

            .title {

                h2 {
                    color: #348899;

                    span {
                        font-size: 13px;
                        padding-left: 16px;
                        font-weight: 100;
                    }
                }
            }

            .drawings-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                min-height: 290px;

                .drawings-item {
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 360px;
                    height: 258px;
                    margin: 16px;

                    .card {
                        position: relative;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        padding: 16px 16px 0 16px;
                        background-color: #ffffff;
                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

                        .card-header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0 0 16px;

                            h3 {
                                margin: 0;
                                max-width: 220px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                line-height: 26px;
                            }

                            &.is-shared {
                                h3 {
                                    max-width: 160px;
                                }
                            }

                            h4 {
                                margin: 0;
                                font-size: 11px;
                                color: #979C9C;
                            }

                            .shared {
                                padding: 0 16px;
                                background-color: #962D3E;
                                color: #F2EBC7;
                            }

                            a {
                                margin-left: 16px;
                                cursor: pointer;

                                i {
                                    font-size: 20px;
                                }
                            }
                        }

                        .preview {
                            height: 200px;
                            margin: 0 -16px;
                            background-color: #ffffff;

                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .account-info {
        padding-right: 32px;
    }
}

.create-drawing {
    width: 300px;
}
