.internal-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 32px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 64px;
        background: #F2EBC7;

        h1 {
            margin: 0;
        }
    }

    .content-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;

        .content {
            padding: 64px 32px 96px;

            .title {

            }

            .drawings-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;

                .drawings-item {
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 360px;
                    height: 258px;
                    margin: 16px;

                    .add-card {
                        position: relative;
                        box-sizing: border-box;
                        opacity: 0.3;
                        width: 100%;
                        height: 100%;
                        padding: 16px 16px 0 16px;
                        background-color: #ffffff;
                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

                        &:hover {
                            opacity: 1;
                        }

                        .add-link {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                text-decoration: none;
                            }

                            i {
                                font-size: 96px;
                            }
                        }
                    }

                    .card {
                        position: relative;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        padding: 16px 16px 0 16px;
                        background-color: #ffffff;
                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

                        .card-header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0 0 16px;

                            h3 {
                                margin: 0;
                                max-width: 220px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                line-height: 26px;
                            }

                            &.is-shared {
                                h3 {
                                    max-width: 160px;
                                }
                            }

                            h4 {
                                margin: 0;
                                font-size: 11px;
                                color: #979C9C;
                            }

                            .shared {
                                padding: 0 16px;
                                background-color: #962D3E;
                                color: #F2EBC7;
                            }

                            a {
                                margin-left: 16px;
                                cursor: pointer;

                                i {
                                    font-size: 20px;
                                }
                            }
                        }

                        .preview {
                            height: 200px;
                            margin: 0 -16px;
                            background-color: #348899;
                        }
                    }
                }
            }
        }
    }

    .account-info {
        padding-right: 32px;
    }
}

.create-drawing {
    width: 300px;
}
