$color1: #962D3E;
$color2: #343642;
$color3: #979C9C;
$color4: #F2EBC7;
$color5: #348899;

.internal-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color4;

  .content-container {
    position: relative;
    height: 100vh;
    overflow: auto;

    .content {
      padding: 16px 32px 96px;

      .title {

        h2 {
          color: #348899;

          span {
            font-size: 13px;
            padding-left: 16px;
            font-weight: 100;
          }
        }
      }

      .drawings-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-height: 317px;

        .no-drawings-block {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 36px;
          color: #979C9C;
        }

        .drawings-item {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 360px;
          margin: 16px;
        }
      }
    }
  }

  .account-info {
    padding-right: 32px;
  }
}

.create-drawing {
  width: 300px;
}
