<form (submit)="signIn(form)" #form="ngForm" novalidate autocomplete="off">
    <div class="auth">
        <h2>Sign in</h2>
        <div class="auth-content">
            <div class="form-container">
                <label>Email:</label><input ngModel type="text" name="email" required>
            </div>
            <div class="form-container">
                <label>Password:</label><input ngModel type="password" name="password" required>
            </div>
        </div>
        <div class="form-actions">
            <a [routerLink]="['/account/sign-up']">Sign up</a>
            <div class="flex"></div>
            <button>Sign in</button>
        </div>
    </div>
</form>
