<form (submit)="signIn($event, form)" #form novalidate autocomplete="off">
    <md-card>
        <md-card-title>Sign in</md-card-title>
        <md-card-content>
            <div class="form-container">
                <md-input [(ngModel)]="data.email" name="email" placeholder="Email"></md-input>
            </div>
            <div class="form-container">
                <md-input [(ngModel)]="data.password" type="password" name="password" placeholder="Password"></md-input>
            </div>
        </md-card-content>
        <md-card-actions class="auth-actions flex-block">
            <div class="flex"></div>
            <button md-raised-button color="primary">Sign in</button>
        </md-card-actions>
    </md-card>
</form>