<form (submit)="signIn(form)" #form="ngForm" novalidate autocomplete="off">
  <md-card>
    <md-card-title>Sign in</md-card-title>
    <md-card-content>
      <md-input-container>
        <input mdInput ngModel name="email" placeholder="Email" required />
      </md-input-container>
      <md-input-container>
        <input mdInput ngModel name="password" type="password" placeholder="Password" required />
      </md-input-container>
    </md-card-content>
    <md-card-actions class="flex-block">
      <a md-button color="primary" [routerLink]="['/sign-up']">Sign up</a>
      <span class="flex"></span>
      <button md-raised-button color="primary" type="submit">Sign in</button>
    </md-card-actions>
  </md-card>
</form>
