<md-list>
  <md-list-item *ngFor="let item of list | async; trackBy: trackByFn"
                [class.active]="selectedLayout == item.$key">
    <md-checkbox [checked]="item.visibility"
                 (change)="changeVisibility(item.$key, !item.visibility)"></md-checkbox>
    <span (click)="show(item.$key)">{{item.name}}</span>
    <div class="flex"></div>
    <md-checkbox [checked]="item.closed"
                 (change)="changeClosed(item.$key, !item.closed)"></md-checkbox>
    <button md-icon-button color="warn" (click)="remove(item.$key)"><md-icon>close</md-icon></button>
  </md-list-item>
</md-list>
