:host {
  width: 280px;
  background: white;

  overflow: auto;
}

.mat-list-item {

  .layout-name {
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    padding: 0 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: default;
    user-select: none;
  }

  &:hover, &.active {
    background: #eaeaea;
  }
}
