.add-card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px 16px 0 16px;
    background-color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    form {
        position: relative;
        height: 100%;

        h3 {
            margin: 0 0 24px 0;
            line-height: 26px;
        }

        .form-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 16px;

            a {
                font-size: 13px;
            }
        }
    }
}
