<md-card>
  <md-card-title [class.is-shared]="drawing.shared">
    <span>{{drawing.name}}</span>
    <span class="shared" *ngIf="drawing.shared">shared</span>
  </md-card-title>
  <md-card-content>
    <preview [drawing]="drawing" [routerLink]="['/draw', drawingLink.id]"></preview>
  </md-card-content>
  <md-card-actions align="right">
    <button md-button color="accent" (click)="exportData($event)">Export</button>
    <button md-button color="primary" (click)="share($event)" *ngIf="!drawing.shared">Share</button>
    <button md-button color="primary" (click)="unShare($event)" *ngIf="drawing.shared">UnShare</button>
    <button md-button color="warn" (click)="remove($event)">Remove</button>
  </md-card-actions>
</md-card>
