<div class="card">
  <div class="card-header" [class.is-shared]="drawing.shared">
    <h3>{{drawing.name}}</h3>
    <span class="flex"></span>
    <span class="shared" *ngIf="drawing.shared">shared</span>
    <span class="flex"></span>
    <a (click)="share($event)" *ngIf="!drawing.shared"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <a (click)="unShare($event)" *ngIf="drawing.shared"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a>
    <a (click)="remove($event)"><i class="fa fa-times" aria-hidden="true"></i></a>
  </div>
  <preview [drawing]="drawing" [routerLink]="['/draw', drawingLink.id]"></preview>
</div>
