<div class="card">
    <div class="card-header" [class.is-shared]="drawing.shared">
        <h3>{{drawing.name}}</h3>
        <span class="flex"></span>
        <span class="shared" *ngIf="drawing.shared">shared</span>
        <span class="flex"></span>
        <a (click)="share($event)" *ngIf="!drawing.shared"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
        <a (click)="unShare($event)" *ngIf="drawing.shared"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a>
        <a (click)="remove($event)"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="preview" [routerLink]="['/draw', drawing.$key]">
        <svg [attr.viewBox]="'0 0 ' + drawing.width + ' ' + drawing.height"
             preserveAspectRatio>
            <g *ngFor="let layout of layouts">
                <line
                    [attr.x1]="line.x1" [attr.y1]="line.y1"
                    [attr.x2]="line.x2" [attr.y2]="line.y2"
                    stroke="#34495e" stroke-width="1"
                    *ngFor="let line of layout.lines"></line>
            </g>
        </svg>
    </div>
</div>
