.draw-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;

    svg {
        cursor: default;
        user-select: none;
        background-color: #ffffff;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    }
}
