<div class="draw-area">
    {{drawing.width}}
    <svg [attr.width]="size.width"
         [attr.height]="size.height"
         oncontextmenu="return false;"
         (mousedown)="mouseDown($event)"
         (mousemove)="mouseMove($event)"
         (mouseup)="mouseUp($event)">
        <g *ngFor="let layout of layouts"
           [style.opacity]="layout.key == selectedLayout? 1 : 0.25" [style.display]="layout.visibility ? 'block' : 'none'">
            <line
                [attr.x1]="line.x1" [attr.y1]="line.y1"
                [attr.x2]="line.x2" [attr.y2]="line.y2"
                stroke="#34495e" stroke-width="1"
                *ngFor="let line of layout.lines"></line>
            <circle
                [attr.r]="layout.key == selectedLayout? 5 : 0" [attr.cx]="dot.x" [attr.cy]="dot.y" [attr.fill]="'#353535'"
                *ngFor="let dot of layout.dots"
                (mousedown)="clickOnDot($event, dot, layout.key)"></circle>
        </g>
    </svg>
</div>
