.layouts {
    position: absolute;
    right: 10px;
    top: 100px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    user-select: none;

    md-list {
        min-width: 200px;

        md-list-item {
            cursor: default;

            &:hover {
                .md-list-item {
                    background-color: #fafafa;
                }
            }

            &.link {
                cursor: pointer;
            }
        }
    }
}
