@import url('https://fonts.googleapis.com/css?family=Lora');

@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';

$fa-font-path: "../node_modules/font-awesome/fonts";

@import "../node_modules/font-awesome/scss/font-awesome";

//$color1: #105B63;
//$color2: #FFFAD5;
//$color3: #FFD34E;
//$color4: #DB9E36;
//$color5: #BD4932;

$color1: #962D3E;
$color2: #343642;
$color3: #979C9C;
$color4: #F2EBC7;
$color5: #348899;

html, body {
    height: 100%;
}

body {
    font-family: 'Lora', serif;
    color: $color2;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    font-family: 'Lora', serif;
    color: $color2;
}

a {
    text-decoration: none;
    color: $color2;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.mat-input-container {
  width: 100%;
}

snack-bar-container {
    max-width: none !important;
}

.flex-block {
    display: flex !important;
    flex-direction: row;
}

.flex-block-column {
    display: flex !important;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.align-items-center {
    align-items: center;
}
