<div class="internal-page">
    <div class="content flex-block">
        <div class="draw-area-container flex">
            <draw-area></draw-area>
        </div>
        <div class="layouts-container">
            <div class="layouts">
                <h3>Layouts</h3>
                <div class="layouts-list">
                    <div class="layout"
                         *ngFor="let item of list | async"
                         (click)="show(item.$key)"
                         (dblclick)="editName(item.$key)"
                         [class.active]="selectedLayout == item.$key">
                        <div [attr.contentEditable]="editingKey != '' && editingKey == item.$key" #nameLink (keypress)="changeName($event, nameLink)">{{item.name}}</div>
                        <div class="flex"></div>
                        <div>
                            <input type="checkbox"
                                   [checked]="item.visibility"
                                   (click)="changeVisibility($event, item.$key, !item.visibility)"/>
                        </div>
                        <div>
                            <input type="checkbox"
                                   [checked]="item.closed"
                                   (click)="changeClosed($event, item.$key, !item.closed)"/>
                        </div>
                        <div>
                            <a><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                        </div>
                        <div>
                            <a (click)="remove(item.$key)"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="layout-add" (click)="add()">
                        <a>Add layout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
