<form [formGroup]="form" (submit)="create(form.value)" novalidate autocomplete="off">
    <div class="create-drawing">
        <h2>Create new drawing...</h2>
        <div class="form-container">
            <md-input name="name" placeholder="Name" [formControl]="form.controls['name']" required></md-input>
        </div>
        <div class="form-container">
            <md-input name="width" placeholder="Width" [formControl]="form.controls['width']" required></md-input>
        </div>
        <div class="form-container">
            <md-input name="height" placeholder="Height" [formControl]="form.controls['height']" required></md-input>
        </div>
        <div class="form-container flex-block">
            <div class="flex"></div><button md-raised-button color="primary" [disabled]="!form.valid">Create</button>
        </div>
    </div>
</form>
